$color-bg: #262626;

.denis {
    margin-right: 18px;
    font-weight: 700;
    font-size: 24px;
    cursor: pointer;
    position: relative;
}

.hello {
    font-weight: 900;
    font-size: 6rem;
}

.social-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.social-button {
    text-decoration: none;
    margin: 20px;
    color: white;
    border: solid;
    border-radius: 10px;
    border-width: 1px;
    display: flex;
    place-content: center;
    align-items: center;
}

.social-button:hover {
    background-color: white;
    color: $color-bg;

    .invert {
        filter: none;
    }
}

.invert {
    filter: invert(1);
}

.button-icon {
    width: 32px;
    margin: 5px;
}

.button-text {
    margin: 5px;
}