<div class="main-content">
  <h1 class="hello secondary" i18n="Main title">JVOS is me</h1>
  <span i18n>I'm slowly building this little environment</span>
  <span i18n>Feel free to check out my social medias</span>
  <div class="social-buttons">
    <a class="social-button" href="https://github.com/jvvosantos" target="_blank">
      <img class="button-icon invert" src="../assets/github-logo.png">
      <span class="button-text">jvvosantos</span>
    </a>
    <a class="social-button" href="https://linkedin.com/in/jvvosantos/" target="_blank">
      <img class="button-icon invert" src="../assets/linkedin-logo.png">
      <span class="button-text">jvvosantos</span>
    </a>
  </div>
</div>