<div class="main-content">
    <div class="photo-container">
        <img class="photo" src="../../../assets/jvos.jpeg" alt="itsme">
    </div>


    <div class="about">
        <h1>João Victor Oliveira Santos</h1>
        <h2>It's me!</h2>
        <br>
        <p>
            Hey there! I am a brazilian software developer currently majoring in CS 
            at Universidade Federal de Pernambuco, welcome to my little place :)
        </p>
        <p>
            My main goal is to become a senior fullstack developer, the road to achieve 
            something like this is sure bumpy but I'll keep striving! My current project structure 
            consists of Angular, SpringBoot and MongoDB all on AWS, and I'm proud to say I'm getting pretty good at it.
        </p>
        <p>
            If I'm not working I'm probably looking at memes on reddit, playing games, studying something useful or studying something useless I found interesting.
        </p>
        <br>

        <small>
            You're probably tired of the whole "it's me" motiff of this website but, oh well, I really liked it!
        </small>
    </div>
</div>